/* begin Page */
/* Created by Artisteer v3.1.0.48375 */

#art-main, table
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

.art-postcontent,
.art-postheadericons,
.art-postfootericons,
.art-blockcontent-body,
ul.art-vmenu a 
{
   text-align: left;
}

.art-postcontent,
.art-postcontent li,
.art-postcontent table,
.art-postcontent a,
.art-postcontent a:link,
.art-postcontent a:visited,
.art-postcontent a.visited,
.art-postcontent a:hover,
.art-postcontent a.hovered
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-postcontent p
{
   margin: 12px 0;
}

.art-postcontent h1, .art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:visited, .art-postcontent h1 a:hover,
.art-postcontent h2, .art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:visited, .art-postcontent h2 a:hover,
.art-postcontent h3, .art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:visited, .art-postcontent h3 a:hover,
.art-postcontent h4, .art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:visited, .art-postcontent h4 a:hover,
.art-postcontent h5, .art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:visited, .art-postcontent h5 a:hover,
.art-postcontent h6, .art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:visited, .art-postcontent h6 a:hover,
.art-blockheader .t, .art-blockheader .t a, .art-blockheader .t a:link, .art-blockheader .t a:visited, .art-blockheader .t a:hover,
.art-vmenublockheader .t, .art-vmenublockheader .t a, .art-vmenublockheader .t a:link, .art-vmenublockheader .t a:visited, .art-vmenublockheader .t a:hover,
.art-logo-name, .art-logo-name a, .art-logo-name a:link, .art-logo-name a:visited, .art-logo-name a:hover,
.art-logo-text, .art-logo-text a, .art-logo-text a:link, .art-logo-text a:visited, .art-logo-text a:hover,
.art-postheader, .art-postheader a, .art-postheader a:link, .art-postheader a:visited, .art-postheader a:hover
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: bold;
   font-size: 22px;
   text-align: left;
   text-decoration: none;
}

.art-postcontent a
{
   text-decoration: none;
   color: #004C8A;
}

.art-postcontent a:link
{
   text-decoration: none;
   color: #004C8A;
}

.art-postcontent a:visited, .art-postcontent a.visited
{
   color: #0079DB;
}

.art-postcontent  a:hover, .art-postcontent a.hover
{
   text-decoration: underline;
   color: #00325C;
}

.art-postcontent h1
{
   color: #000000;
   margin: 10px 0 0;
   font-size: 28px;
}

.art-blockcontent h1
{
   margin: 10px 0 0;
   font-size: 28px;
}

.art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:hover, .art-postcontent h1 a:visited, .art-blockcontent h1 a, .art-blockcontent h1 a:link, .art-blockcontent h1 a:hover, .art-blockcontent h1 a:visited 
{
   font-size: 28px;
}

.art-postcontent h2
{
   color: #000000;
   margin: 10px 0 0;
   font-size: 24px;
}

.art-blockcontent h2
{
   margin: 10px 0 0;
   font-size: 24px;
}

.art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:hover, .art-postcontent h2 a:visited, .art-blockcontent h2 a, .art-blockcontent h2 a:link, .art-blockcontent h2 a:hover, .art-blockcontent h2 a:visited 
{
   font-size: 24px;
}

.art-postcontent h3
{
   color: #000000;
   margin: 10px 0 0;
   font-size: 20px;
}

.art-blockcontent h3
{
   margin: 10px 0 0;
   font-size: 20px;
}

.art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:hover, .art-postcontent h3 a:visited, .art-blockcontent h3 a, .art-blockcontent h3 a:link, .art-blockcontent h3 a:hover, .art-blockcontent h3 a:visited 
{
   font-size: 20px;
}

.art-postcontent h4
{
   color: #000000;
   margin: 10px 0 0;
   font-size: 16px;
}

.art-blockcontent h4
{
   margin: 10px 0 0;
   font-size: 16px;
}

.art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:hover, .art-postcontent h4 a:visited, .art-blockcontent h4 a, .art-blockcontent h4 a:link, .art-blockcontent h4 a:hover, .art-blockcontent h4 a:visited 
{
   font-size: 16px;
}

.art-postcontent h5
{
   color: #000000;
   margin: 10px 0 0;
   font-size: 14px;
}

.art-blockcontent h5
{
   margin: 10px 0 0;
   font-size: 14px;
}

.art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:hover, .art-postcontent h5 a:visited, .art-blockcontent h5 a, .art-blockcontent h5 a:link, .art-blockcontent h5 a:hover, .art-blockcontent h5 a:visited 
{
   font-size: 14px;
}

.art-postcontent h6
{
   color: #000000;
   margin: 10px 0 0;
   font-size: 13px;
}

.art-blockcontent h6
{
   margin: 10px 0 0;
   font-size: 13px;
}

.art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:hover, .art-postcontent h6 a:visited, .art-blockcontent h6 a, .art-blockcontent h6 a:link, .art-blockcontent h6 a:hover, .art-blockcontent h6 a:visited 
{
   font-size: 13px;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height:100%;
}

#art-main
{
   position: relative;
   z-index: 0;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}

body
{
   padding: 0;
   margin:0;
   min-width: 1000px;
   color: #292929;
   background-color: #FFFFFF;
   background-image: url('../images/Bottom_texture.jpg');
   background-repeat: repeat-x;
   background-attachment: fixed;
   background-position: top left;
}

.cleared
{
   display:block;
   clear: both;
   float: none;
   margin: 0;
   padding: 0;
   border: none;
   font-size: 0;
   height:0;
   overflow:hidden;
}

.reset-box
{
   overflow:hidden;
   display:table;
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

/* Start Box */
.art-box, .art-box-body {
   margin:0 auto;
   position:relative;
}
.art-box:before, .art-box:after, .art-box-body:before, .art-box-body:after {
   position:absolute;
   top:0;
   bottom:0;
   content:' ';
   background-repeat: no-repeat;
   line-height:0;
}
.art-box:before,.art-box-body:before{
   left:0;
}
.art-box:after,.art-box-body:after{
   right:0;
}
.art-box:before {
   overflow:hidden;
   background-position: bottom left;
   direction: ltr;
   z-index:-3;
}
.art-box:after {
   background-position: bottom right;
   z-index:-3;
}
.art-box-body:before, .art-box-body:after {
   background-repeat:repeat-y;
}
.art-box-body:before {
   background-position: top left;
   z-index:-3;
}
.art-box-body:after {
   background-position: top right;
   z-index:-3;
}

.art-box .art-box:before, .art-box .art-box:after, .art-box-body .art-box-body:before, .art-box-body .art-box-body:after {
   z-index:-2;
}
.art-box .art-box .art-box:before, .art-box .art-box .art-box:after, .art-box-body .art-box-body .art-box-body:before, .art-box-body .art-box-body .art-box-body:after {
   z-index:-1;
}
/* End Box */

/* Start Bar */
.art-bar {
   position:relative;
}
.art-bar:before, .art-bar:after {
   position:absolute;
   top:0;
   bottom:0;
   content:' ';
   background-repeat:repeat;
   z-index:-1;
}
.art-bar:before {
   left:0;
   background-position: top left;
}
.art-bar:after {
   right:0;
   background-position: top right;
}
/* End Bar */

li h1, .art-postcontent li h1, .art-blockcontent-body li h1 
{
   margin:1px;
} 
li h2, .art-postcontent li h2, .art-blockcontent-body li h2 
{
   margin:1px;
} 
li h3, .art-postcontent li h3, .art-blockcontent-body li h3 
{
   margin:1px;
} 
li h4, .art-postcontent li h4, .art-blockcontent-body li h4 
{
   margin:1px;
} 
li h5, .art-postcontent li h5, .art-blockcontent-body li h5 
{
   margin:1px;
} 
li h6, .art-postcontent li h6, .art-blockcontent-body li h6 
{
   margin:1px;
} 
li p, .art-postcontent li p, .art-blockcontent-body li p 
{
   margin:1px;
} 
/* end Page */

/* begin Box, Sheet */
.art-sheet
{
   max-width:1000px;
   margin-top: 0;
   margin-bottom: -3px;
   cursor:auto;
   width: 1000px;
}
.art-sheet-body 
{
   padding:3px;
   min-width:48px;
   min-height:48px;
   padding-top:0;
   padding-bottom:3px;
}
.art-sheet:before, .art-sheet:after 
{
   content: url('../images/sheet_t.png');
   font-size: 0;
   background-image: url('../images/sheet_b.png');
}
.art-sheet:after{
   clip:rect(auto, auto, auto, 973px);
}
.art-sheet:before,.art-sheet-body:before{
   right:27px;
}
.art-sheet-body:after{
   width: 27px;
   top:27px;
   bottom:27px;
   background-image:url('../images/sheet.png');
}
.art-sheet-body:before{
   top:27px;
   bottom:27px;
   background-image:url('../images/sheet.png');
}

/* end Box, Sheet */

/* begin Header */
div.art-header
{
   margin: 0 auto;
   position: relative;
   width:100%;
   height: 100px;
   margin-top: 0;
   margin-bottom: 0;
}

.art-header:after
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top: 0;
   width:100%;
   height: 100px;
   background-image: url('../images/header.jpg');
   background-repeat: no-repeat;
   background-position: center center;
}
/* end Header */

/* begin HeaderObject */
div.art-headerobject
{
   display: block;
   left: 4%;
   margin-left: -15px;
   position: absolute;
   top: 14px;
   width: 364px;
   height: 71px;
   background-image: url('../images/header-object.png');
}
/* end HeaderObject */

/* begin Logo */
div.art-logo
{
   display: block;
   position: absolute;
   top: 20px;
   left: 0;
   margin-left: 0;
}

/* end Logo */

/* begin Menu */
/* menu structure */

ul.art-hmenu a, ul.art-hmenu a:link, ul.art-hmenu a:visited, ul.art-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.art-hmenu, ul.art-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.art-hmenu li
{
   margin: 0;
   padding: 0;
   border: 0;
   display: block;
   float: left;
   position: relative;
   z-index: 5;
   background: none;
}

ul.art-hmenu li:hover{
   z-index: 10000;
   white-space: normal;
}
ul.art-hmenu li li{
   float: none;
   width: auto;
}
ul.art-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
ul.art-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}
ul.art-hmenu:after, ul.art-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}
ul.art-hmenu, ul.art-hmenu ul {
   min-height: 0;
}

ul.art-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('../images/spacer.gif');
   padding: 10px 30px 30px 30px;
   margin: -10px 0 0 -30px;
}

ul.art-hmenu ul.art-hmenu-left-to-right {
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}
ul.art-hmenu ul.art-hmenu-right-to-left {
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

ul.art-hmenu ul ul
{
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
}

ul.art-hmenu ul ul.art-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
}

ul.art-hmenu ul ul.art-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 30px 10px 30px 30px;
   margin: -30px -10px 0 0;
}

ul.art-hmenu li li:hover>ul.art-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
ul.art-hmenu li li:hover>ul.art-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

ul.art-hmenu{
   position:relative;
   padding: 0 0 0 0;
   float: left;
}

/* end menu structure */

/* menu bar */

.art-nav
{
   margin:0 auto;
   min-height: 31px;
   z-index: 100;
   margin-top: 0;
   margin-bottom: 0;
}

.art-nav:before, .art-nav:after{
   background-image: url('../images/nav.png');
}
.art-nav:before{
   right: 15px;
}
.art-nav:after{
   width: 15px;
}
/* end menu bar */
.art-nav-outer{
   position:absolute;
   width:100%;
}

.art-hmenu-extra1
{
   position: relative;
   display: block;
   float: left;
   width: auto;
   height: 31px;
   background-position: center;
}

.art-hmenu-extra2
{
   position: relative;
   display: block;
   float: right;
   width: auto;
   height: 31px;
   background-position: center;
}

.art-hmenu
{
   float: left;
}

/* images in menu items */
ul.art-hmenu img.art-menu-image, ul.art-hmenu img.art-menu-image-left
{
   vertical-align: middle;
   margin-right: 5px;
}

ul.art-hmenu img.art-menu-image-right
{
   vertical-align: middle;
   margin-left: 5px;
}
/* end Menu */

/* begin MenuItem */
ul.art-hmenu>li>a
{
   position: relative;
   display: block;
   height: 31px;
   cursor: pointer;
   text-decoration: none;
   color: #F5F5F5;
   padding: 0 12px;
   line-height: 31px;
   text-align: center;
}

ul.art-hmenu>li>a:before, ul.art-hmenu>li>a:after
{
   position: absolute;
   display: block;
   content:' ';
   top: 0;
   bottom:0;
   z-index: -1;
   background-image: url('../images/menuitem.png');
}

ul.art-hmenu>li>a:before
{
   left: 0;
   right: 0;
   background-position: top left;
}

ul.art-hmenu>li>a:after
{
   width: 0;
   right: 0;
   background-position: top right;
}

.art-hmenu a, .art-hmenu a:link, .art-hmenu a:visited, .art-hmenu a:hover
{
   font-weight: bold;
   text-align: left;
   text-decoration: none;
}

ul.art-hmenu>li>a.active:before {
   background-position: bottom left;
} 
ul.art-hmenu>li>a.active:after {
   background-position: bottom right;
}
ul.art-hmenu>li>a.active {
   color: #FFFFFF;
}

ul.art-hmenu>li>a:hover:before, ul.art-hmenu>li:hover>a:before {
   background-position: center left;
}
ul.art-hmenu>li>a:hover:after, ul.art-hmenu>li:hover>a:after {
   background-position: center right;
}
ul.art-hmenu>li>a:hover, ul.art-hmenu>li:hover>a{
   color: #FFFFFF;
}

.art-hmenu a:hover.separator-without-submenu 
{
   cursor: default;
}

.art-hmenu a:hover.separator-without-submenu .t
{
   color: #F5F5F5;
}

.art-hmenu li:hover a.separator-without-submenu .t
{
   color: #F5F5F5;
}

a:hover.separator-without-submenu .r, a:hover.separator-without-submenu .l 
{
   top: 0 !important;
}
/* end MenuItem */

/* begin MenuSeparator */
ul.art-hmenu>li:before
{
   position:absolute;
   display: block;
   content:' ';
   top:0;
   left:  -2px;
   width:2px;
   height: 31px;
   background: url('../images/menuseparator.png') center center no-repeat;
}

ul.art-hmenu>li {
   margin-left:2px;
}
ul.art-hmenu>li:first-child {
   margin-left:0;
}

ul.art-hmenu>li:first-child:before{
   display:none;
}
/* end MenuSeparator */

/* begin MenuSubItem */
.art-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 25px;
   background-image: url('../images/subitem.png');
   background-position: left top;
   background-repeat: repeat-x;
   border-width: 0;
   border-style: solid;
   min-width: 7em;
   text-align: left;
   text-decoration: none;
   line-height: 25px;
   color: #454545;
   margin:0;
   padding: 0 8px;
}

.art-hmenu ul>li:first-child>a
{
   border-top-width: 0;
}

.art-hmenu ul a:link, .art-hmenu ul a:visited, .art-hmenu ul a:hover, .art-hmenu ul a:active
{
   text-align: left;
   text-decoration: none;
   line-height: 25px;
   color: #454545;
   margin:0;
   padding: 0 8px;
}

.art-hmenu ul li a:hover
{
   color: #454545;
   background-position: left bottom;
   border-top-width: 0 !important;
}

.art-hmenu ul li:hover>a
{
   color: #454545;
   background-position: left bottom;
   border-top-width: 0 !important;
}

/* end MenuSubItem */

/* begin Layout */
.art-layout-wrapper
{
   position:relative;
   margin:0 auto 0 auto;
}

.art-content-layout
{
   display: table;
   width:100%;
   table-layout: fixed;
   border-collapse: collapse;
}

.art-content-layout-row {
   display: table-row;
}

.art-layout-cell
{
   display: table-cell;
   vertical-align: top;
}
/* end Layout */

/* begin Box, Block, VMenuBlock */
.art-vmenublock
{
   max-width:994px;
   margin: 2px;
}
.art-vmenublock-body 
{
   padding:0;
}

/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.art-vmenublockheader {
   margin-bottom: 4px;
   min-height: 22px;
   line-height:22px;
}
.art-vmenublockheader:before, .art-vmenublockheader:after{
   background-image: url('../images/vmenublockheader.png');
}
.art-vmenublockheader:before{
   right: 4px;
}
.art-vmenublockheader:after{
   width: 4px;
}

.art-vmenublockheader .t
{
   min-height: 22px;
   line-height:22px;
   color: #FFFFFF;
   font-size: 12px;
   text-align: center;
   margin:0;
   padding: 0 5px 0 5px;
   white-space: nowrap;
}

.art-vmenublockheader .t a,
.art-vmenublockheader .t a:link,
.art-vmenublockheader .t a:visited, 
.art-vmenublockheader .t a:hover
{
   color: #FFFFFF;
   font-size: 12px;
   text-align: center;
}

/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.art-vmenublockcontent
{
   max-width:994px;
}
.art-vmenublockcontent-body 
{
   padding:0;
}

/* end Box, Box, VMenuBlockContent */

/* begin VMenu */
ul.art-vmenu, ul.art-vmenu ul
{
   list-style: none;
   display: block;
}

ul.art-vmenu, ul.art-vmenu li
{
   display: block;
   margin: 0;
   padding: 0;
   width: auto;
   line-height: 0;
}

ul.art-vmenu
{
   margin-top: 0;
   margin-bottom: 0;
}

/* images in menu items */
ul.art-vmenu img.art-menu-image, ul.art-vmenu img.art-menu-image-left
{
   vertical-align: middle;
   margin-right: 5px;
}

ul.art-vmenu img.art-menu-image-right
{
   vertical-align: middle;
   margin-left: 5px;
}
/* end VMenu */

/* begin VMenuItem */
ul.art-vmenu a 
{
   display: block;
   cursor: pointer;
   z-index:0;
   text-decoration: none;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   margin-left:0;
   margin-right:0;
   position:relative;
}

ul.art-vmenu ul, ul.art-vmenu li{
   position:relative;
}

ul.art-vmenu>li>a 
{
   color: #004C8A;
   padding: 0 11px 0 11px;
   height: 18px;
   line-height: 18px;
   white-space: nowrap;
}

ul.art-vmenu>li>a.active {
   color: #454545;
}
ul.art-vmenu a:hover, ul.art-vmenu a.active:hover {
   color: #595959;
}

ul.art-vmenu>li>a:before, ul.art-vmenu>li>a:after 
{
   position: absolute;
   display: block;
   content: ' ';
   z-index:-1;
   background-image: url('../images/vmenuitem.png');
   top:0;
   height:18px;
}

ul.art-vmenu>li>a:before{
   left: 0;
   right: 1px;
   background-position: top left;
}
ul.art-vmenu>li>a:after{
   width: 1px;
   right: 0;
   background-position: top right;
}
ul.art-vmenu>li>a.active:before {
   background-position: bottom left;
}
ul.art-vmenu>li>a.active:after {
   background-position: bottom right;
}
ul.art-vmenu>li>a:hover {
   background-color: transparent;
}
ul.art-vmenu>li>a:hover:before  {
   background-position: center left;
}
ul.art-vmenu>li>a:hover:after {
   background-position: center right;
}

ul.art-vmenu>li{
   margin-top:1px;
}
ul.art-vmenu>li>ul{
   margin-top:1px;
   padding-bottom: 0;
}
ul.art-vmenu>li:first-child{
   margin-top:0;
}                                                     

ul.art-vmenu>li:before, ul.art-vmenu>li>ul:before{
   display: block;
   position:absolute;
   content: ' ';
   height: 0;
   top:-1px;
   left:0;
   right:0;
   z-index:1;
   border-bottom: dotted 1px #DBDBDB;
}

ul.art-vmenu>li:first-child:before,ul.art-vmenu>li:first-child:after{
   display:none;
}  

/* end VMenuItem */

/* begin VMenuSubItem */
ul.art-vmenu ul, ul.art-vmenu ul li{
   margin: 0;
   padding: 0;
}
ul.art-vmenu ul, ul.art-vmenu li li, ul.art-vmenu li li a {
   position:relative;
}
ul.art-vmenu ul {
   margin-left: 0;
   margin-right: 0;
}

ul.art-vmenu ul a
{
   display: block;
   position:relative;
   white-space: nowrap;
   height: 18px;
   overflow: visible;
   background-image: url('../images/vsubitem.png');
   background-repeat: repeat-x;
   background-position: top left;
   padding:0;
   padding-left:15px;
   padding-right:15px;
   line-height: 18px;
   color: #595959;
   margin-left: 0;
   margin-right: 0;
}

ul.art-vmenu ul a.active{
   background-position: bottom left;
}
ul.art-vmenu ul a:hover{
   background-position: center left;
   line-height: 18px;
   color: #595959;
   margin-left: 0;
   margin-right: 0;
}
ul.art-vmenu ul li li a:hover, ul.art-vmenu ul li li a:hover.active{
   background-position: left center;
}

ul.art-vmenu ul a:link, ul.art-vmenu ul a:visited, ul.art-vmenu ul a:active
{
   line-height: 18px;
   color: #595959;
   margin-left: 0;
   margin-right: 0;
}

ul.art-vmenu>li>ul>li:first-child{
   padding-top: 0;
   margin-top:0;
}
 
ul.art-vmenu li li{
   position:relative;
   margin-top:2px;
}

ul.art-vmenu ul ul a{
   padding-left:30px;
}
ul.art-vmenu ul ul ul a{
   padding-left:45px;
}
ul.art-vmenu ul ul ul ul a{
   padding-left:60px;
}
ul.art-vmenu ul ul ul ul ul a{
   padding-left:75px;
}

ul.art-vmenu ul li a.active {
   color: #4F4F4F;
}
ul.art-vmenu ul li a:hover, ul.art-vmenu ul li a:hover.active {
   color: #595959;
}

ul.art-vmenu li li a {
   border: 1px solid transparent;
}
ul.art-vmenu li li a.active:hover {
   border-color: transparent;
}
ul.art-vmenu li li a.active {
   border-color: #00325C;
}
ul.art-vmenu li li a:hover {
   border-color: #6E6E6E !important;
}

/* end VMenuSubItem */

/* begin Box, Block */
.art-block
{
   max-width:994px;
   margin: 2px;
}
.art-block-body 
{
   padding:0;
}

div.art-block img
{
   /* WARNING do NOT collapse this to 'border' - inheritance! */
  border-width: 0;
   margin: 10px;
}

/* end Box, Block */

/* begin BlockHeader */
.art-blockheader {
   margin-bottom: 5px;
   min-height: 22px;
   line-height:22px;
}
.art-blockheader:before, .art-blockheader:after{
   background-image: url('../images/blockheader.png');
}
.art-blockheader:before{
   right: 5px;
}
.art-blockheader:after{
   width: 5px;
}

.art-blockheader .t
{
   min-height: 22px;
   line-height:22px;
   color: #FFFFFF;
   font-size: 12px;
   text-align: center;
   margin:0;
   padding: 0 6px 0 6px;
   white-space: nowrap;
}

.art-blockheader .t a,
.art-blockheader .t a:link,
.art-blockheader .t a:visited, 
.art-blockheader .t a:hover
{
   color: #FFFFFF;
   font-size: 12px;
   text-align: center;
}

/* end BlockHeader */

/* begin Box, BlockContent */
.art-blockcontent
{
   max-width:994px;
}
.art-blockcontent-body 
{
   padding:0;
   color: #454545;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-size: 11px;
}
.art-blockcontent-body table,
.art-blockcontent-body li, 
.art-blockcontent-body a,
.art-blockcontent-body a:link,
.art-blockcontent-body a:visited,
.art-blockcontent-body a:hover
{
   color: #454545;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-size: 11px;
}

.art-blockcontent-body p
{
   margin: 12px 0;
}

.art-blockcontent-body a, .art-blockcontent-body a:link
{
   color: #004C8A;
   text-decoration: underline;
}

.art-blockcontent-body a:visited, .art-blockcontent-body a.visited
{
   color: #0065B8;
   text-decoration: none;
}

.art-blockcontent-body a:hover, .art-blockcontent-body a.hover
{
   color: #00325C;
   text-decoration: none;
}

.art-blockcontent-body ul li
{
   font-size: 13px;
   line-height: 125%;
   color: #004C8A;
   margin: 5px 0 0 10px;
}
/* end Box, BlockContent */

/* begin Button */
span.art-button-wrapper>a.art-button,
span.art-button-wrapper>a.art-button:link,
span.art-button-wrapper>input.art-button,
span.art-button-wrapper>button.art-button
{
   text-decoration: none;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: bold;
   font-size: 12px;
   position:relative;
   top:0;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #FFFFFF !important;
   width: auto;
   outline: none;
   border: none;
   background: none;
   line-height: 26px;
   height: 26px;
   margin: 0 !important;
   padding: 0 15px !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
}

.art-button img, span.art-button-wrapper img
{
   margin: 0;
   vertical-align: middle;
}

span.art-button-wrapper
{
   vertical-align: middle;
   display: inline-block;
   position: relative;
   height: 26px;
   overflow: hidden;
   white-space: nowrap;
   text-indent: 0;
   width: auto;
   max-width:994px;
   margin: 0;
   padding: 0;
   z-index: 0;
}

.firefox2 span.art-button-wrapper
{
   display: block;
   float: left;
}

input, select, textarea
{
   vertical-align: middle;
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: bold;
   font-size: 12px;
}

div.art-block select 
{
   width:96%;
}

span.art-button-wrapper.hover>.art-button, span.art-button-wrapper.hover>a.art-button:link
{
   color: #FFFFFF !important;
   text-decoration: none !important;
}

span.art-button-wrapper.active>.art-button, span.art-button-wrapper.active>a.art-button:link
{
   color: #FFFFFF !important;
}

span.art-button-wrapper>span.art-button-l, span.art-button-wrapper>span.art-button-r
{
   display: block;
   position: absolute;
   top: 0;
   bottom: 0;
   margin: 0;
   padding: 0;
   background-image: url('../images/button.png');
   background-repeat: no-repeat;
}

span.art-button-wrapper>span.art-button-l
{
   left: 0;
   right: 4px;
   background-position: top left;
}

span.art-button-wrapper>span.art-button-r
{
   width: 4px;
   right: 0;
   background-position: top right;
}

span.art-button-wrapper.hover>span.art-button-l
{
   background-position: center left;
}

span.art-button-wrapper.hover>span.art-button-r
{
   background-position: center right;
}

span.art-button-wrapper.active>span.art-button-l
{
   background-position: bottom left;
}

span.art-button-wrapper.active>span.art-button-r
{
   background-position: bottom right;
}

span.art-button-wrapper input
{
   float: none !important;
}
/* end Button */

/* begin Box, Post */
.art-post
{
   max-width:994px;
   margin: 2px;
}
.art-post-body 
{
   padding:9px;
   min-width:12px;
   min-height:12px;
}
.art-post:before, .art-post:after 
{
   content: url('../images/post_t.png');
   font-size: 0;
   background-image: url('../images/post_b.png');
}
.art-post:after{
   clip:rect(auto, auto, auto, 979px);
}
.art-post:before,.art-post-body:before{
   right:15px;
}
.art-post-body:after{
   width: 15px;
   top:15px;
   bottom:15px;
   background-image:url('../images/post.png');
}
.art-post-body:before{
   top:15px;
   bottom:15px;
   background-image:url('../images/post.png');
}

a img
{
   border: 0;
}

.art-article img, img.art-article, .art-block img, .art-footer img
{
   border-color: #E36802;
   border-style: solid;
   border-width: 0;
   margin: 0 0 0 0;
}

.art-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.art-article table, table.art-article
{
   border-collapse: collapse;
   margin: 1px;
}

.art-post .art-content-layout-br
{
   height: 0;
}

.art-article th, .art-article td
{
   padding: 2px;
   border: solid 1px #8C8C8C;
   vertical-align: top;
   text-align: left;
}

.art-article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

.art-article
{
   border-collapse: separate;
}/* end Box, Post */

/* begin PostHeaderIcon */
.art-postheader
{
   color: #000000;
   margin: 5px 0;
   line-height: 1em;
   font-size: 20px;
}

.art-postheader a, 
.art-postheader a:link, 
.art-postheader a:visited,
.art-postheader a.visited,
.art-postheader a:hover,
.art-postheader a.hovered
{
   font-size: 20px;
}

.art-postheader a, .art-postheader a:link
{
   text-align: left;
   text-decoration: none;
   color: #004C8A;
}

.art-postheader a:visited, .art-postheader a.visited
{
   color: #0079DB;
}

.art-postheader a:hover,  .art-postheader a.hovered
{
   color: #00325C;
}

/* end PostHeaderIcon */

/* begin PostIcons, PostHeaderIcons */
.art-postheadericons,
.art-postheadericons a,
.art-postheadericons a:link,
.art-postheadericons a:visited,
.art-postheadericons a:hover
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   color: #404040;
}

.art-postheadericons
{
   padding: 1px;
}

.art-postheadericons a, .art-postheadericons a:link
{
   text-decoration: none;
   color: #004C8A;
}

.art-postheadericons a:visited, .art-postheadericons a.visited
{
   font-style: italic;
   font-weight: normal;
   color: #0079DB;
}

.art-postheadericons a:hover, .art-postheadericons a.hover
{
   font-style: italic;
   font-weight: normal;
   text-decoration: underline;
   color: #00325C;
}

/* end PostIcons, PostHeaderIcons */

/* begin PostIcon, PostDateIcon */
span.art-postdateicon
{
   display:inline-block;
   line-height: 1em;
}

span.art-postdateicon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostDateIcon */

/* begin PostIcon, PostAuthorIcon */
span.art-postauthoricon
{
   display:inline-block;
   line-height: 1em;
}

span.art-postauthoricon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostAuthorIcon */

/* begin PostIcon, PostPdfIcon */
span.art-postpdficon
{
   background:url('../images/postpdficon.png') no-repeat left 0.5em;
   padding-top:10px;
   margin-top:-10px;
   padding-left:24px;
   min-height:20px;
   display:inline-block;
   line-height: 1em;
}

span.art-postpdficon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostPdfIcon */

/* begin PostIcon, PostPrintIcon */
span.art-postprinticon
{
   background:url('../images/postprinticon.png') no-repeat left 0.5em;
   padding-top:8px;
   margin-top:-8px;
   padding-left:22px;
   min-height:16px;
   display:inline-block;
   line-height: 1em;
}

span.art-postprinticon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostPrintIcon */

/* begin PostIcon, PostEmailIcon */
span.art-postemailicon
{
   background:url('../images/postemailicon.png') no-repeat left 0.5em;
   padding-top:5px;
   margin-top:-5px;
   padding-left:19px;
   min-height:10px;
   display:inline-block;
   line-height: 1em;
}

span.art-postemailicon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostEmailIcon */

/* begin PostIcon, PostEditIcon */
span.art-postediticon
{
   background:url('../images/postediticon.png') no-repeat left 0.5em;
   padding-top:10px;
   margin-top:-10px;
   padding-left:26px;
   min-height:20px;
   display:inline-block;
   line-height: 1em;
}

span.art-postediticon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostEditIcon */

/* begin PostBullets */
.art-postcontent ol, .art-postcontent ul
{
   margin: 1em 0 1em 2em;
   padding: 0;
}

.art-postcontent li
{
   font-size: 13px;
   color: #000000;
   margin: 3px 0 0 -15px;
   padding: 0;
}

.art-postcontent li ol, .art-post li ul
{
   margin: 0.5em 0 0.5em 2em;
   padding: 0;
}

/* end PostBullets */

/* begin PostQuote */
blockquote,
blockquote a, .art-postcontent blockquote a, .art-blockcontent blockquote a, .art-footer blockquote a,
blockquote a:link, .art-postcontent blockquote a:link, .art-blockcontent blockquote a:link, .art-footer blockquote a:link,
blockquote a:visited, .art-postcontent blockquote a:visited, .art-blockcontent blockquote a:visited, .art-footer blockquote a:visited,
blockquote a:hover, .art-postcontent blockquote a:hover, .art-blockcontent blockquote a:hover, .art-footer blockquote a:hover
{
   color: #000000;
   font-style: italic;
   font-weight: normal;
   text-align: left;
}

/* Override native 'p' margins*/
blockquote p,
.art-postcontent blockquote p,
.art-blockcontent blockquote p,
.art-footer blockquote p
{
   margin: 0;
   margin: 5px 0;
}

blockquote
{
   margin: 10px;
   padding: 2px;
   background-color: #FFFFFF;
   margin-left: 50px;
   padding-left: 30px;
   background-image: url('../images/postquote.png');
   background-position: left top;
   background-repeat: no-repeat;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}

/* end PostQuote */

/* begin PostIcons, PostFooterIcons */
.art-postfootericons,
.art-postfootericons a,
.art-postfootericons a:link,
.art-postfootericons a:visited,
.art-postfootericons a:hover
{
   font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
   color: #404040;
}

.art-postfootericons
{
   padding: 1px;
}

.art-postfootericons a, .art-postfootericons a:link
{
   text-decoration: none;
   color: #004C8A;
}

.art-postfootericons a:visited, .art-postfootericons a.visited
{
   color: #0079DB;
}

.art-postfootericons a:hover, .art-postfootericons a.hover
{
   color: #00325C;
}

/* end PostIcons, PostFooterIcons */

/* begin PostIcon, PostCategoryIcon */
span.art-postcategoryicon
{
   display:inline-block;
   line-height: 1em;
}

span.art-postcategoryicon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostCategoryIcon */

/* begin Footer */
.art-footer
{
   position: relative;
   margin-top:0;
   margin-bottom:0;
   width: 100%;
}

.art-footer-body
{
   position:relative;
   padding: 15px;
   color: #004C8A;
   font-size: 11px;
}

.art-footer-body ul li
{
   color: #A86B00;
}

.art-footer-body:before
{
   position: absolute;
   content:' ';
   z-index:-2;
   left:0;
   right:0;
   top:0;
   bottom:15px;
   background-image: url('../images/footer.png');
   background-position:bottom left;
}

.art-footer:before, .art-footer:after 
{
   position: absolute;
   content:' ';
   z-index:-2;
   bottom:0;
   height:15px;
   background-image: url('../images/footer_b.png');
}

.art-footer:before
{
   left:0;
   right:15px;
   background-position: bottom left;
}

.art-footer:after
{
   right:0;
   width:15px;
   background-position: bottom right;
}

.art-footer-body .art-rss-tag-icon
{
   position: absolute;
   left:   6px;
   bottom:15px;
   z-index:1;
}

.art-rss-tag-icon
{
   display: block;
   background-image: url('../images/livemarks.png');
   background-repeat: no-repeat;
   height: 30px;
   cursor: default;
   background-position: left;
   padding-left: 19px;
   width: auto;
   line-height: 30px;
   font-size: 11px;
}

.art-footer-text p
{
   padding:0;
   margin:0;
   text-align: center;
}

.art-footer-body a,
.art-footer-body a:link,
.art-footer-body a:visited,
.art-footer-body a:hover,
.art-footer-body td, 
.art-footer-body th,
.art-footer-body caption
{
   color: #004C8A;
   font-size: 11px;
}

.art-footer-text
{
   min-height: 34px;
   padding-left: 10px;
   padding-right: 10px;
   text-align: center;
}

.art-footer-body a,
.art-footer-body a:link
{
   color: #004C8A;
   text-decoration: none;
}

.art-footer-body a:visited
{
   color: #0079DB;
}

.art-footer-body a:hover
{
   color: #00325C;
   text-decoration: underline;
}

div.art-footer img
{
   /* WARNING do NOT collapse this to 'border' - inheritance! */
  border-width: 0;
   margin: 0;
}

.art-rss-tag-icon span
{
   padding-left: .5em;
}
/* end Footer */

/* begin PageFooter */
.art-page-footer, 
.art-page-footer a,
.art-page-footer a:link,
.art-page-footer a:visited,
.art-page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #004C8A;
}

.art-page-footer
{
   position: relative;
   z-index: 10;
   padding: 1em;
   text-align: center;
   text-decoration: none;
   color: #004C8A;
}
/* end PageFooter */

/* begin LayoutCell, sidebar1 */
.art-content-layout .art-sidebar1
{
   width: 160px;
}
/* end LayoutCell, sidebar1 */

/* begin LayoutCell, sidebar2 */
.art-content-layout .art-sidebar2
{
   width: 150px;
}
/* end LayoutCell, sidebar2 */

/* category items */

.category ul.actions,
.category ul.actions li,
.category ul.actions li img
{
   display: inline;
   margin: 0;
   padding: 0;
}

.category ul.actions li
{
   background: none;
}

/* categories list container */

.category-list .category-desc .image-left
{
   float: left;
   margin: 0 5px 5px 0;
}

.category-list .category-desc .image-right
{
   float: left;
   margin: 0 0 5px 5px;
}

.category-list fieldset.filters
{
   border: none;
}
 
.category-list fieldset.filters .display-limit
{
   text-align: right;
   margin-right: .5em;
}
 
.category-list table.category
{
   width: 100%;
}
 
.category-list table.category thead th a img
{
   border: none;
   padding-left: .3em;
}

 /* categories list items */

.categories-list ul
{
   list-style-type: none;
   margin: 0 0 0 20px;
   padding: 0;
}

.categories-list ul li
{
   background-image: none;
   padding: 5px;
   clear: both;
}

.categories-list ul ul
{
   margin-left: 10px;
}

dl.newsfeed-count dl,
dl.weblink-count dl,
dl.article-count dl
{
   clear: both;
}

dl.newsfeed-count dt,
dl.newsfeed-count dd,
dl.weblink-count dt,
dl.weblink-count dd,
dl.article-count dt,
dl.article-count dd
{
   display: inline;
}

dl.newsfeed-count dd,
dl.weblink-count dd,
dl.article-count dd
{
   padding: 0;
   margin: 0;
}

/* category subcategories */

.cat-children ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.cat-children ul li
{
   background-image: none;
   padding: 5px;
   clear: both;
}

/* contact */

.contact-email div
{
   padding: 3px 0;
}

.contact-email label
{
   width: 15em;
   float: left;
}

/* articles archive items */

#archive-items
{
   list-style-type: none;
   margin: 10px 0;
   padding: 0;
}

#archive-items li
{
   list-style-type: none;
   background-image: none;
   margin: 10px 0;
   padding: 0;
}

/* article */
ul.pagenav
{
   margin: 0;
   padding: 0;
   list-style-type: none;
   text-align: center;
}

ul.pagenav li
{
   display: inline-block;
   padding: 0 5px;
   text-align: center;
   background-image: none;
}

/* blog layout */

.cols-2 .column-1,
.cols-2 .column-2,
.cols-3 .column-1,
.cols-3 .column-2,
.cols-3 .column-3
{
   float: left;
   clear: right;
}

.cols-2 .column-1 {
   width: 50%;
}
.cols-2 .column-2 {
   width: 50%;
}
.cols-3 .column-1 {
   width: 33%;
}
.cols-3 .column-2 {
   width: 33%;
}
.cols-3 .column-3 {
   width: 34%;
}

.row-separator
{
   clear: both;
   float: none;
   font-size: 1px;
   display: block;
}

/* article info */

.article-info
{
   margin: 10px 0;
}

.article-info .article-info-term
{
   display: none;
}

.article-info dd
{
   background-image: none;
   margin: 0;
   padding: 0;
   line-height: 120%;
}

/* login */

.login .login-description img
{
   float: left;
   margin: 0 5px 5px 0;
}

.login fieldset
{
   clear: both;
   border:  0;
}

.login .login-fields label
{
   float: left;
   width: 15em;
   display: block;
}

/* search form */

#searchForm .phrases-box label
{
   display: block;
   line-height: 1.6em;
   margin-left: 2em;
}

#searchForm .phrases-box input
{
   display: block;
   float: left;
   width: auto;
   border: none;
   line-height: 1.6em;
   margin: 0;
}

#searchForm .only label
{
   display: block;
   line-height: 1.6em;
   margin-left: 2em;
}

#searchForm .only input
{
   display: block;
   float: left;
   width: auto;
   border: none;
   line-height: 1.6em;
   margin: 0;
}

#searchForm .form-limit
{
   margin-top: .5em;
}

/* pagination */

.pagination
{
   margin: 0;
   padding: 0;
   text-align: center;
}

.pagination .counter
{
   text-align: center;
}

.pagination ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   text-align: center;
}

.pagination ul li
{
   display: inline;
   padding: 2px 5px;
   text-align: left;
   margin: 0 2px;
   background-image: none;
}

.pagination ul li.pagination-start,
.pagination ul li.pagination-start span,
.pagination ul li.pagination-end,
.pagination ul li.pagination-end span
{
   padding: 0;
}

/* system messages */

#system-message
{
   margin-bottom: 20px;
}

#system-message dd.message ul
{
   background: #c3d2e5 url(../../system/images/notice-info.png) 4px center no-repeat;
   border-top: 3px solid #de7a7b;
   border-bottom: 3px solid #de7a7b;
   margin: 0;
   padding-left: 40px;
   text-indent: 0;
}

#system-message dd.error ul
{
   color: #c00;
   background: #e6c0c0 url(../../system/images/notice-alert.png) 4px center no-repeat;
   border-top: 3px solid #de7a7b;
   border-bottom: 3px solid #de7a7b;
   margin: 0;
   padding-left: 40px;
   text-indent: 0;
}

#system-message dd.notice ul
{
   color: #c00;
   background: #efe7b8 url(../../system/images/notice-note.png) 4px center no-repeat;
   border-top: 3px solid #f0dc7e;
   border-bottom: 3px solid #f0dc7e;
   margin: 0;
   padding-left: 40px;
   text-indent: 0;
}

#system-message ul li
{
   background-image: none;
   padding-left: 0;
}

/* icon tooltip */

.tip
{
   border: solid 1px #333;
   background: #ffffcc;
   padding: 3px;
   text-align: left;
}

.tip-title
{
   font-weight: bold;
}

/* login module */

#login-form fieldset
{
   border: none;
   margin: 0;
   padding: 0;
}

#login-form p
{
   margin: 0.5em 0 0 0;
}

#login-form #form-login-username label,
#login-form #form-login-password label
{
   display: block;
}

#login-form #form-login-remember input
{
   margin: 0;
   padding: 0;
   vertical-align: bottom;
   position: relative;
   top: -1px;
}

#login-form #modlgn-username,
#login-form #modlgn-passwd
{
   width: 95%;
   margin: 0;
   padding: 0;
}

#login-form ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
}

#login-form ul li
{
   background-image: none;
   padding: 0;
}

/* pagebreak content plugin */

#article-index
{
   float: right;
   margin: .5em;
   padding: .5em;
}

.pagenavcounter
{
   margin: .5em 0;
   padding: .5em 0;
   font-weight: bold;
}

/* com_users forms: registration, profile, edit profile, remind, reset */
.registration fieldset,
.profile-edit fieldset,
.profile fieldset,
#user-registration fieldset
{
   margin: .5em 0;
   padding: 1em;
}

.registration fieldset dt,
.profile-edit fieldset dt,
.profile fieldset dt,
#user-registration fieldset dt
{
   float: left;
   width: 16em;
   padding: .2em 0;
}

.registration fieldset dd,
.profile-edit fieldset dd,
.profile fieldset dd,
#user-registration fieldset dd
{
   padding: .2em 0;
   margin-left: 16em;
}

.registration fieldset dt,
.profile-edit fieldset dt,
#user-registration fieldset dt,
.registration fieldset dd,
.profile-edit fieldset dd,
#user-registration fieldset dd
{
   display: block;
   line-height: 1.5em;
   min-height: 1.5em;
}

.registration fieldset legend,
.profile-edit fieldset legend,
.profile fieldset legend
{
   font-weight: bold;
}

/* mod_stats */
.stats-module dt
{
   float: left;
   width: 10em;
   padding: .2em 0;
   font-weight: bold;
   display: block;
   line-height: 1.5em;
   min-height: 1.5em;
}

.stats-module dd
{
   padding: .2em 0;
   margin-left: 10em;
   display: block;
   line-height: 1.5em;
   min-height: 1.5em;
}

/* ================= CSS Personal ================== */

p.parrafo {
  text-align:center;
  font-size:14px;
  font-style:italic;
  margin-bottom: 0.7em;
}

h2.tit_seccion {
  text-align:left;
  font-size:18px;
  margin-bottom: 1em;
}

h3.tit_sub_seccion {
  text-align:left;
  font-size:16px;
  margin-bottom: 0.7em;
  font-family: Verdana;
}

.anterior {float: left;}
.centro {text-align: center;}
.siguiente {float:right;}

.pc {
  background-color:#FFFFDA;
  border: 1px #F60 dotted;
  padding:2px;
  margin:2px;
  width:98.5%;
}

.rojo {color:#F00}
.verde {color: #090}
.naranja {color:#F60}
.azul {color:#069}
.bordo {color:#800000}
.amarillo {color:yellow}

.brojo {color:#F00; font-weight:bold}
.bverde {color: #090; font-weight:bold}
.bnaranja {color:#F60; font-weight:bold}
.bazul {color:#069; font-weight:bold}
.bnegro {color:#000; font-weight:bold}
.bbordo {color:#800000; font-weight:bold}
.bamarillo {color:yellow; font-weight:bold}

/* Recuadro del codigo */
.codigo {
  background-color:#FFFFDA;
  border: 1px #F60 solid;
  padding:1px 1px 10px 1px;
  margin:1px;
  width:99%;
  height: inherit;
}

/* Recuadro del resultado */
.resultado {
  background-color:#FFFFFF;
  border: 1px #F60 solid;
  padding:1px 1px 10px 1px;
  margin:5px 1px 1px 1px;
  width:99%;
  height: inherit;
}

.cont-cod-res {
  width:100%;
  height:auto;
  margin: 0 auto; /* centrar con firefox */
}


.codigo-libre {
  background-color:#FFFFDA;
  border:1px #F60 solid;
  padding:1px 1px 10px 1px;
  margin:1px;
  height:inherit;
  float:left;
  vertical-align:top;
}

.resultado-libre {
  border:1px #F60 solid;
  padding:1px 1px 10px 1px;
  margin:1px;
  height:inherit;
  float:right;
  vertical-align:top;
}

/* Titulo de los recuadros de codigo y resultado */
.tit_fondo{
  text-align: center;
  background-image: url('../../../images/titulos_ejemplos.png');
  width: 99.6%;
  color:#FFF;
  font-weight:bold;
  font-size:14px;
  border: 1px solid #F60;
  margin-bottom: 5px;
  font-family: Verdana,Geneva,Arial,Helvetica,Sans-Serif;
}

.titu_fondo {
  text-align: left;
  background-color: #F60;
  width: 99.7%;
  color:#FFF;
  font-weight:bold;
  font-size:14px;
  border: 1px solid #F60;
}

.titul_fondo {
  text-align: right;
  background-color: #F60;
  width: 99.7%;
  color:#FFF;
  font-weight:bold;
  font-size:14px;
  border: 1px solid #F60;
}

/* Linea divisoria entre secciones */
hr {
  background-color: #069;
  color:#069;
  margin:3px 0 3px 0;
}

hr.cabecera {
  margin:3px 0 3px 0;
}

.hr-menu {
  margin:0 0 3px 0;
}

hr.arr_aba {
  margin-bottom: 0.7em;
  margin-top: 0.7em;
}

hr.arriba {
  margin-top: 1em;
}

/* Tablas de propiedades, etiquetas, etc. al final de cada pagina */
.tablas {
  width: 100%;
  background-color:#FFFFDA;
}

table, tr, td, th {
  border: solid 1px #AAA;
  vertical-align:top;
}

td {padding: 1px}

.aa {background-color: #FFFFD9; text-align: center;}
.bb {background-color: #FFFFC0; text-align: center;}

/* th de las tablas de propiedades y etiquetas al final de cada pagina */
.encabeza {padding-left: 2px}

/* tr de las tablas de propiedades y etiquetas al final de cada pagina */
.encab {
  height:16px;
  background-color:#F60;
  color:#FFFFFF;
  vertical-align:middle
}

pre{font-family: arial;}

/* -------------- Recuadro de la sintaxis------------------ */
.sintaxis{
  width: 98%;
  text-align: left;
  margin: 5px auto; /* centrar con firefox */
  padding: 1px 5px 5px 5px;
  height: auto;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color:#000;
  background-image: url('../../../amages/back_sintaxis.png');
  background-repeat: repeat-x;
  background-colar: #677F8C;
  bordera: #677F8C solid 1px;
}

h3.titulo_sintaxis:first-line {color: #000; margin-left:2%; font-size: 80%;}
p.sobre_la_sintaxis{margin:1%; color: #000;}

/* ----------- Fin recuadro de la sintaxis------------------------*/

/* -------------- Recuadro de ejemplos ------------------ */
.ejemplo {
  width: 100%;
  text-align: left;
  padding: 1px 5px 10px 5px;
  height: auto;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color:#000;
  background-image: url('../../../images/back_ejemplos.png');
  background-repeat: repeat-x;
  background-color: #78b2d0;
  dispaly: table-cell;
  bottom: 100px;
}

td.codigo50 {
  background-color:#FFFFDA;
  border:1px #F60 solid;
  padding:1px 1px 5px 1px;
  margin:1px;
  width:49%;
  font-family: arial;
}

td.resultado50 {
  background-color:#FFFFFF;
  border:1px #F60 solid;
  padding:1px 1px 5px 1px;
  margin:1px;
  width:49%;
}

td.cod_libre {
  background-color:#FFFFDA;
  border:1px #F60 solid;
  padding:1px 1px 5px 1px;
  margin:1px;
  font-family: arial;
}

td.res_libre {
  background-color:#FFFFFF;
  border:1px #F60 solid;
  padding:1px 1px 5px 1px;
  margin:1px;
}

td.ejem {
  border: none;
}

table.ejemplo {
  border-collapse: separate;
  border-spacing: 4px;
  border: none;
  padding: 0;
}

.codigo50 {
  background-color:#FFFFDA;
  border:1px #F60 solid;
  padding:1px 1px 5px 1px;
  margin:1px;
  width:49%;
}

.resultado50 {
  background-color:#FFFFFF;
  border:1px #F60 solid;
  padding:1px 1px 5px 1px;
  margin:1px;
  width:49%;
}

h3.titulo_ejemplo:first-line {color: #000; margin-left:2%; font-size: 80%;}
p.sobre_el_ejemplo{margin:1%; color: #000;}

/* ----------- Fin recuadro de ejemplos ------------------------*/

/* ----------- Ejemplos en los tutoriales css ------------------------*/

q.ejemplo-pseudo-c:lang(es) {quotes:'"' '"'}
q.ejemplo-p-class:lang(fr) {quotes:"<<" ">>"}
a.ejemplo-p-class:link {color:red}
a.ejemplo-p-class:visited {color:green}
a.ejemplo-p-c:link {color:red}
a.ejemplo-p-c:visited {color:green}
a.ejemplo-p-c:hover {color:blue}
a.ejemplo-p-c:active {color:black}
a.ejemplo-p-c:focus {background-color:yellow}
p.ejemplo-p-e-f-l:first-line {color: red}
p.ejemplo-p-e-f-le:first-letter {font-style: italic; font-size: xx-large}
p.ejemplo-p-e-b:before {content: url(../../../images/v.gif)}
p.ejemplo-p-e-a:after {content: url(../../../images/v.gif)}
p.ejemplo-p-e-dos:first-line {color: #006699}
p.ejemplo-p-e-dos:first-letter {font-size: xx-large}
h2.ejemplo-p-e-logo:before {content: url(../../../images/v.gif)}

/* ----------- Fin Ejemplos en los tutoriales css ------------------------*/

/* ---- Arreglos del template original ----*/

.art-postheader {
  font-size: 36px;
  text-align: center;
}
.breadcrumbs {text-indent: 10px}

a.separator-without-submenu {
  border: #0065b8 1px solid;
  text-align: center;
  margin: auto 0;
  font-weight:bold;
  color: #ffffff;
}
